@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.titulo {
    text-align: left;
    padding-left: 20px;
}

body {
    background-image: url('../imagens/BANNER\ JOGOS.png'); /* Altere o caminho se necessário */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.jogo-detalhe {
    display: flex;
    align-items: flex-start;
    gap: 2em;
    padding: 2em;
    max-width: 900px;
    margin: 0 auto;
}

/* Imagem do Jogo à Esquerda */
.jogo-img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0; /* Mantém a imagem em tamanho fixo */
    margin-right: 2em;
}

.descricao {
    max-width: 600px;
    color: white;
}

.descricao h2 {
    font-size: 1.5em;
    margin-top: 0.5em;
}

.descricao p {
    font-size: 1em;
    margin: 0.5em 0;
}

.btn-site {
    display: inline-block;
    padding: 0.8em 1.5em;
    margin-top: 1em;
    background-color: #aa0494;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-site:hover {
    background-color: purple;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.topnav {
    display: flex; /* Usar flexbox */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: center; /* Alinha verticalmente os itens */
    background-color: #333;
    padding: 0 16px; /* Espaçamento interno */
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #aa0494;
    color: white;
}

.topnav input[type=text] {
    color: #000000;
    margin: 0 auto; /* Centraliza horizontalmente */
    padding: 6px;
    border: 1px solid #ccc; /* Adiciona borda para visualização */
    font-size: 17px;
    flex: 1; /* Faz com que o input ocupe o espaço disponível */
    max-width: 400px; /* Define uma largura máxima */
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .topnav {
        flex-direction: column; /* Empilha os itens verticalmente em telas pequenas */
        align-items: flex-start; /* Alinha os itens à esquerda */
    }
    
    .topnav a, .topnav input[type=text] {
        width: 100%; /* Ocupa 100% da largura */
        margin: 0; /* Remove margens */
        padding: 14px;
    }
}